body {
  /*background-image:url('../images/blurred.jpg'});*/
  background-color:red;
  height:100%;
}

p {
  color: red;
}

.fill {
  background-color: red;
  height: 100%;
}

.greeting {
  text-align: center;
}

.panel-heading {
  text-align: center;
}

.table {
  text-align: center;
}

.table th {
  text-align: center;
}

.tablehead {
  width: 33%;
}

.button-wrapper {
  text-align: center;
}

.profile-button {
  width: 250px;
}
