{% extends "base.html" %}
{% block content %}


<div class="greeting">
  <h1>Boards</h1>
  <h3>What would you like to read today?</h3>
  <hr>
</div>

{% for cat in categories %}
<div class="boards panel panel-primary">
   <div class="panel-heading">{{cat.name}}</div>
   <div class="panel-body">
     <table class="table"style="width:100%">
      <tr>
        <th class="tablehead">Board Name</th>
        <th class="tablehead">Moderator</th>
        <th class="tablehead">Actions</th>
      </tr>
      {% for board in boards %}
        {% if board.category = cat %}
        <tr>
          <td>
            {{ board.title }}
          </td>
          <td>
            {{ board.moderator.username }}
          </td>
          <td>
            <button onclick="location.href ='view-board/{{ board.id}}';" type="button" class="btn btn-primary view-button"><i class="fa fa-fw fa-eye"></i></button>
            <button onclick="location.href ='modify-board/{{ board.id }}';" type="button" class="btn btn-warning view-button"><i class="fa fa-fw fa-pencil"></i></button>
            <button onclick="location.href ='remove-board/{{ board.id }}';" type="button" class="btn btn-danger view-button"><i class="fa fa-fw fa-times"></i></button>
          </td>
        </tr>
        {% else %}
        {% endif %}
      {% endfor %}
    </table>
   </div>
   <hr>
</div>
{% endfor %}
{% endblock %}
