{% extends "base.html" %}
{% block content %}
<div class="greeting">
  <h1>Welcome to {{board.title}}</h1>
  <h3>{{posts.count}} Posts</h3>
  <h3>{{user_count}} Users</h3>
  <hr>
  <button onclick="location.href ='/create-post'" type="button" class="profile-button btn btn-success view-button"><i class="fa fa-fw fa-plus"></i> Create Post</button>
  {% if fav = 0 %}
    <button onclick="location.href ='/favorite/{{board.id}}'" type="button" class="profile-button btn btn-info view-button"><i class="fa fa-fw fa-heart"></i> Favorite</button>
  {% else %}
    <button type="button" class="profile-button btn view-button"><i class="fa fa-fw fa-heart"></i> Favorited</button>
  {% endif %}
  <hr>
</div>

<div class="posts">
    <table class="table"style="width:100%">
     <tr>
       <th class="tablehead">Post</th>
       <th class="tablehead">Published By</th>
       <th class="tablehead">Actions</th>
     </tr>
     {% for post in posts %}
       <tr>
         <td>
           {{post.title }}
         </td>
         <td>
           {{ post.author}}
         </td>
         <td>
           <button onclick="location.href ='/view-post/{{post.id}}';" type="button" class="btn btn-primary view-button"><i class="fa fa-fw fa-eye"></i></button>
           <button onclick="location.href ='/modify-post/{{ post.id }}';" type="button" class="btn btn-warning view-button"><i class="fa fa-fw fa-pencil"></i></button>
           <button onclick="location.href ='/remove-post/{{ post.id }}';" type="button" class="btn btn-danger view-button"><i class="fa fa-fw fa-times"></i></button>
         </td>
       </tr>

     {% endfor %}
   </table>
</div>
{% endblock %}
